@import 'variables';

.container {
  max-width: 680px;
  margin: 40px auto 80px;
  padding: 0 5px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
  margin-top: 20px;
}

.desc__text {
  color: #999;
  font-size: 12px;
}

.flex__inner {
  display: flex;
  flex-wrap: wrap;
}
.img__inner {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.favorite__icon,
.comment__icon {
  height: 100px;
  margin: 0 40px;
  img {
    width: 50px;
    height: 50px;
  }
  p {
    text-align: center;
  }
  button {
    appearance: none;
    background-color: #fff;
    border: none;
  }
}

tr {
  display: block;
  margin: 20px 0;
}

th,td {
  font-weight: normal;
  padding: 0 24px;
  margin: 20px 0;
}

.category__table-text {
  background-color: #d5d5d5;
  border-radius: 20px;
}

.comment {
  &__inner {
    margin-top: 20px;
  }
  &__content {
    background-color: #e5e5e5;
    padding: 8px 16px;
    margin: 20px 0;
  }
  &__text {
    p {
      margin: 10px 20px;
    }
  }
  &__image {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 150px;
    }
  }
}

.form {
  &__inner-text {
    textarea {
      width: 100%;
    }
    button {
      display: block;
      padding: 10px 0;
      margin: 20px 0;
      text-align: center;
      width: 100%;
      border-radius: 4px;
      border: none;
      background-color: $base-color;
      width: 100%;
      color: #fff;
      font-weight: bold;
    }
    button:hover {
      opacity: .75;
    }
  }
}

.buy__button {
  &--stock a {
      display: block;
      padding: 10px 0;
      text-align: center;
      width: 100%;
      border-radius: 4px;
      border: none;
      background-color: $base-color;
      width: 100%;
      color: #fff;
      font-weight: bold;
    }
  &--stock a:hover {
    opacity: .75;
  }
  &--sold {
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: $sold-color;
    width: 100%;
    color: #fff;
    font-weight: bold;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 1440px;
    padding-top: 80px;
  }
  .img__inner {
    width: 600px;
    height: 600px;
    padding-top: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .desc__inner {
    width: 680px;
    padding: 20px 60px;
    font-size: 28px;
    h2 {
      font-size: 45px;
    }
    h3 {
      font-size: 30px;
      margin-top: 40px;
    }
    th {
      font-weight: normal;
      padding-right: 60px;
      font-size: 24px;
    }
    td {
      font-size: 24px;
    }
  }
  .desc__text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .comment {
    &__text {
      p {
        margin: 8px 20px;
      }
    }
  }
}