@import 'variables';

.container {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 5px;
}

h2 {
  text-align: center;
  margin-top: 80px;
  font-size: 36px;
}

.flex__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.profile__inner {
  padding: 20px 0;
  img {
    border-radius: 50px;
    margin-left: 20px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }
  a {
    border: 1px solid $base-color;
    border-radius: 8px;
    padding: 4px 20px;
    color: $base-color;
    font-size: 16px;
    font-weight: normal;
  }

  a:hover {
    background-color: $base-color;
    color: #fff;
  }
}

.tab {
  &__button {
    appearance: none;
    background-color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 8px 16px;
  }
}


@media (min-width:768px) {
  .container {
    max-width: 1140px;
  }

  .profile__inner {
    padding: 60px 0;
    img {
      margin-left: 180px;
    }
    p {
      font-size: 24px;
    }
    a {
      font-size: 18px;
    }
  }
  .tab {
    &__button {
      font-size: 18px;
    }
  }
}